<body>
    <div class="container-fluid">
        <h1 class="text-center">Login</h1>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col"></div>
            <div class="card text-center col-auto">
                <div class="card-body">
                    <div class="row ">
                        <input class="mb-2" placeholder="Email" />
                        <input class="mb-3" placeholder="Password" />
                        <button class="btn btn-primary rounded-pill px-5" type="submit">Login</button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>