<body>
    <div class="container">
        <h1 class="text-center">@ViewBag.Blog.Title</h1>
        <p>@ViewBag.Blog.Text</p>
        <footer>
            <h4 class="text-center fixed-bottom">Author: @ViewBag.Blog.Author</h4>
        </footer>
    </div>
</body>
