<body>
<div class="container-fluid">
        <h1 class="text-center">Blogs</h1>
    </div>

    <div class="container">
        <div class="row g-2 row-cols-1 row-cols-md-1 row-cols-lg-2">
            @foreach (var blog in ViewBag.Blogs)
            {
                <div class="col">
                    <div class="card" style="height: 9rem;">
                        <div class="card-title text-center">@blog.Title</div>
                        <div class="card-body">hello</div>
                        <div class="card-footer d-flex">
                            <div class="">@blog.Author</div>
                            <a class="ms-auto btn btn-primary rounded-pill" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

