<body>
    <div>
        <nav>
            <div class="btn btn-primary rounded-pill px-5 me-2">Home</div>
            <div class="btn btn-primary rounded-pill px-5 me-2">Blogs</div>
            <div class="btn btn-primary rounded-pill px-5 ms-auto">Login</div>
        </nav>
    </div>

    <div class="container-fluid">
        <h1 class="text-center">Blogs</h1>
        <a class="btn btn-primary" asp-controller="Blog" asp-action="Create">New Blog</a>

        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
            </tr>
        </table>
    </div>
</body>

